<h3 md-dialog-title>Create Appointment</h3>
<md-dialog-content>
  <form #schedule="ngForm">
    <div layout='column'>
      <md-input-container>
        <input #patientsearch (keyup)="filterPatients(patientsearch.value)" mdInput [mdAutocomplete]="autopatients" placeholder="Search Patient"
          name="patientname">
      </md-input-container>
      <md-autocomplete #autopatients="mdAutocomplete" [displayWith]="displayPatientName">
        <md-option *ngFor="let c of filteredPatients" (onSelectionChange)="fetchPatient(c)" (blur)="fetchPatient(c)" [value]="c">
          {{ c.firstname }}
        </md-option>
      </md-autocomplete>
    </div>
    <div layout="row" flex>
      <div layout="column" flex>
        <material-datepicker style="padding-top:10px" name="dateschedule" (onSelect)="dateSelected(myDatepicker)" #myDatepicker
          ngDefaultControl></material-datepicker>
        <!--</md-input-container>-->
      </div>
      <div layout="column" class="left-padding" style="padding-top:10px" flex>
        <!--<md-input-container flex> <input mdInput placeholder="From" name="fromtime" [(ngModel)]="appointment.startTime"></md-input-container>-->
        <md-select placeholder="From Time" (change)="onFromTimeChange()" name="toTime" [(ngModel)]="fTime">
          <md-option *ngFor="let times of timeData" [value]="times.time">
            {{ times.time }}
          </md-option>
        </md-select>
      </div>
      <div layout="column" class="left-padding" style="padding-top:10px" flex>
        <!--<md-input-container flex> <input mdInput placeholder="To" name="totime" [(ngModel)]="appointment.endTime"></md-input-container>-->
        <md-select  #fromTime placeholder="To Time"  name="ftTime" [(ngModel)]="tTime">
          <md-option *ngFor="let times of toTimeData"  [value]="times?.time">
            {{ times?.time }}
          </md-option>
        </md-select>
      </div>
    </div>
    <div layout="row" flex>
      <div layout='column' flex>
        <md-input-container flex> <input mdInput #consultant placeholder="Consultant" [mdAutocomplete]="autoConsultants" (keyup)="filterConsultants(consultant.value)"
            name="consultant" ngModel></md-input-container>
        <md-autocomplete #autoConsultants="mdAutocomplete" [displayWith]="displayConsultantName">
          <md-option *ngFor="let c of filteredConsultants" [value]="c" (onSelectionChange)="fetchConsultant(c)">
            {{ c.name }}
          </md-option>
        </md-autocomplete>
      </div>
    </div>
    <div layout="row" flex>
      <div layout="column" flex>
        <md-input-container flex> <input mdInput placeholder="Notes" name="notes" [(ngModel)]="appointment.notes"></md-input-container>
      </div>
    </div>
    <div *ngIf="successful" style="color: green;">Schedule Created Successfully!!</div>
  </form>
</md-dialog-content>
<md-dialog-actions layout="row" layout-align="start">
  <md-card-actions> <button style="padding-left:20px" md-raised-button (click)="save()" color='accent'>SAVE</button>
    <button md-raised-button (click)="cancel()">Cancel</button>
  </md-card-actions>
</md-dialog-actions>